# Expo
.expo/
dist/
web-build/

# Dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Testing
coverage/
.nyc_output/

# Misc
*.log
*.bak
